# Generierung von Dummy Daten 
- kein Personenbezug
- Format und Struktur des Datensatzes bleibt erhalten
- Ziel Datensatz teilen zur Verprobung von Forschungsidee, Software etc.

In [1]:
# load necessary packages
import numpy as np
import pandas as pd
import datetime
import sys
import random
from datetime import date

Disclaimer zu Datenformat mit einbauen:
Note that apart from Microsoft Excel files, only two dimensional data is currently supported for automatic upload and each column has to be a separate variable (as opposed to variables being contained in rows).

In [2]:
def read_data(x):
    if (x.endswith(('csv', 'txt'))):
        return pd.read_csv(x) 
    elif (x.endswith(('xlsx', 'xls'))):
        dictionary = pd.read_excel(x, sheet_name = None) 
        if (len(dictionary.keys()) == 1):
            name_of_sheet = list(dictionary.keys())
            name_of_sheet = name_of_sheet[0]
            simple_data_frame = dictionary[name_of_sheet]
            return simple_data_frame
        else:
            return dictionary
    elif (x.endswith('sas7bdat')):
        return pd.read_sas(x) 
    elif (x.endswith('sav')):
        return pd.read_spss(x) 
    elif (x.endswith('dta')):
        return pd.read_stata(x)  
    elif (x.endswith('pkl')):
        return pd.read_pickle(x) 
    else:
        raise Exception("Sorry, file type not supported. Try converting to csv, xlsx, txt or pkl.")

# write test for function to see that sas and stata files run properly

In [ ]:
# check datetime, numeric, categorical, only na, string, 

# pattern abbilden.

In [23]:
file_path = './data/RPAD_data_small.xlsx'
original_data = read_data(file_path)
original_data.dtypes

ID                                 int64
Age                              float64
BMI                              float64
Sex                               object
Height                           float64
Weight                           float64
Length_of_Stay                   float64
Management                        object
Severity                          object
Alvarado_Score                   float64
Paedriatic_Appendicitis_Score    float64
dtype: object

In [24]:
dfn = original_data.convert_dtypes()
dfn.dtypes

ID                                        Int64
Age                                     Float64
BMI                                     Float64
Sex                              string[python]
Height                                  Float64
Weight                                  Float64
Length_of_Stay                            Int64
Management                       string[python]
Severity                         string[python]
Alvarado_Score                            Int64
Paedriatic_Appendicitis_Score             Int64
dtype: object

In [ ]:
# Excel sheet check mit einfügen

- kategorische variablen sollten per hand definiert werden mit wissen welcher datentyp da ist
- anzahl unterschiedlicher werte (wenige = kategorische Variable)
- Anzahl unterschiedlicher Werte in % von Anzahl Werte insgesamt als Indikator nutzen:
bspw. Anzahl unterschiedlicher Werte kleiner als 5% im Datensatz Variable wird Kategorisch geschätzt: Datensatz kleiner als 20 Beobachtungen wird keine Kategorie erkannt -> Anpassen der % Schwelle.

In [25]:
#category 
for name, column in dfn.items():
    unique_count = column.unique().shape[0]
    total_count = column.shape[0]
    if unique_count / total_count < 0.1:
        dfn[name] = dfn[name].astype('category')

dfn.dtypes

# Problem kategorische Variable lenght_of_stay -> 20 unique values bei 780 Beobachtungen
# -> Threshold müsste bei 0.02 liegen -> in diesem Fall fine evt gestaffelt (ab 100 andere Zahl udn ab 50, 20 und 10?)

ID                                  Int64
Age                               Float64
BMI                               Float64
Sex                              category
Height                            Float64
Weight                            Float64
Length_of_Stay                   category
Management                       category
Severity                         category
Alvarado_Score                   category
Paedriatic_Appendicitis_Score    category
dtype: object

In a final step, we generate synthetic data. This data set will have the same column names, structure and number of rows as your original data set. Freuency of NAs values will be preserved (albeit with the introduction of some noise). Values found in columns will be largely similar (e.g. similar structure of string values, similar frequency of categories for categorical values etc). The new data set will have 'synthetic' appended to its file name and saved as a .csv file in your current working directory.

In [27]:
dfn.select_dtypes(include="Int64")
new_col = pd.Series(new_col).replace('nan', np.NaN)

       ID
0    7898
1    6952
2    7909
3    8163
4    1933
..    ...
777  8578
778  2087
779  7848
780  8845
781  5431

[782 rows x 1 columns]

create synth data:
1. check number of nan rows -> generate random number of nan rows (between 0.7 and 1.3 threshold of number nan in real data)
2. nan columns remain nan columns
3. create categorical columns
4. create numeric columns
5. create datetime
6. string vars -> similar length -> pattern detected -> recreate pattern? -> recreate names, adress lines etc with faker? -> detect adresslines?